* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  min-height: 200vh;
  margin: auto;
}

.caja {
  background-color: bisque;
  width: 100%;
  /* height: 30px; */
}

.caja p {
  font-size: 1.5rem;
}

.caja span {
  color: crimson;
  font-size: 1.5rem;
}
